{% extends 'base.html' %}
    {% block content %}
        {% include 'navbar.html' %}

        <div class="container mt-5">
            <h1 class="mb-4">Atividades Físicas</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ativfis %}
                    <tr>
                        <td>{{ i.nome }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        
        {% endblock %}