<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NutriAção</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-ligth" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-ligth" href="/paciente/">Pacientes</a>
          </li>
        <li class="nav-item">
            <a class="nav-link text-ligth" href="/dieta/">Dietas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-ligth" href="/treino/">Treinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-ligth" href="/categoria/">Categoria Alimentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-ligth" href="/unimed/">Unidades Medida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-ligth" href="/refeicao/">Refeição</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-ligth" href="/ativfis/">Atividades Físicas</a>
        </li>
              
        <li class="nav-item">
          <a class="nav-link text-ligth" href="/admin/">Administração</a>
        </li>
      </ul>
    </div>
  </nav>